
<div id="init-content">
    <span>
        Bienvenido al sistema de Seguimiento a Comunidades
    </span>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales dolor non enim venenatis tincidunt. Duis at facilisis velit. Maecenas velit velit, blandit porttitor auctor nec, blandit a quam. Donec vel vestibulum est. Cras fermentum consequat enim venenatis sodales. Phasellus egestas, quam quis facilisis laoreet, tellus lectus consequat tellus, eu posuere sem odio quis nunc. Nulla eget eros at risus volutpat euismod vitae non neque. 
    </p>
    <p>
        Inicia explorando las comunidades(?)
    </p>
    <%= link_to 'Mis comunidades', controller: 'communities' %>
</div>

